html, body {
  height: 100%;
  position: relative;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 35%, rgba(82,82,82,1) 100%);
}

.App {
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App img {
  border-radius: 10px;
  height: 400px;
  width: 400px;
}

.info {
  position: absolute; 
  background: rgba(0, 0, 0, .6); /* Black see-through */
  color: #f1f1f1; 
  padding: 10px 20px 20px;
  margin-top: -99px;
  width: 360px;
}

.info h1 {
  margin: 5px 0;
}

.info p {
  margin: 0 auto;
}

.bio {
  background: #f1f1f1;
  padding: 1px 10px;
  width: 300px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
}

.social {
  list-style: none;
  display: flex;
  flex-direction: row;
  background: #fff;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
  padding: 0;
}

.social li {
  width: 50px;
  padding: 7px 0 5px;
}

.social li img {
  width: 30px;
  height: 30px;
  border-radius: 0;
}

.social li:nth-child(1) {
  background: #fff;
}

.social li:nth-child(2) {
  background: #3b5998;
  color: #fff;
}

.social li:nth-child(3) {
  background: #bc2b8d;
  color: #fff;
  padding: 2px 0 0;
}

.social li:nth-child(3) img {
  height: 40px;
  width: 40px;
}

.social li:nth-child(4) {
  background: #2867b2;
  color: #fff;
}

.social li:nth-child(5) {
  background: #333333;
  color: #fff;
}



